a:hover {
  text-decoration: none;
}

.wear-item-card {
  background-color: white;
  margin: 8px;
  padding: 8px;
  height: 240px;
  width: 240px;
  overflow: hidden;
  border-radius: 4px;
  box-shadow: 0 0 5px rgba(0,0,0,0.1);

  img {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
}
