<div class="banner">
  <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <%= image_tag "chakichaki_banner.jpg", class: "d-block w-100", alt: "alttext" %>
      </div>
      <div class="carousel-item">
        <%= image_tag "kimono.jpg", class: "d-block w-100", alt: "alttext" %>
      </div>
      <div class="carousel-item">
        <%= image_tag "tabi.jpg", class: "d-block w-100", alt: "alttext" %>
      </div>
    </div>
  </div>
  <%= image_tag "logo-white.png", id: "logo-white", alt: "logo" %>
</div>
