<%= render 'shared/navbar' %>
<%= render 'shared/banner' %>

<div class="container">

  <div class="theme concept">
    <div class="title">
      <h1 class="main-title">Welcome to Asakusa</h1>
      <h2 class="sub-title">"Walk, Shop and Meet Locals!"</h2>
    </div>
  </div>

  <div class="theme walk">
    <div class="title">
      <h1 class="main-title">Walk</h1>
      <h2 class="sub-title">PRIVATE KIMONO WALKING TOUR</h2>
    </div>
  </div>

  <div class="theme wear">
    <div class="title">
      <h1 class="main-title">Wear</h1>
      <h2 class="sub-title">THE BEST SOUVENIOR SELECTED BY YUKAKO</h2>
    </div>
  </div>

  <div class="theme meet">
    <div class="title">
      <h1 class="main-title">Meet Locals</h1>
      <h2 class="sub-title">VARIOUS EVENTS BY/WITH LOCALS</h2>
    </div>
  </div>

  <div class="theme access">
    <div class="title">
      <h1 class="main-title"></h1>
      <h2 class="sub-title"></h2>
    </div>
  </div>

  <div class="theme contact">
    <div class="title">
      <h1 class="main-title"></h1>
      <h2 class="sub-title"></h2>
    </div>
  </div>

</div>
