<%= render 'shared/navbar' %>
<%= render 'shared/banner' %>

<div class="container">

  <div class="theme concept">
    <div class="title">
      <h1 class="main-title">Welcome to Asakusa</h1>
      <h5 class="sub-title">"Walk, Shop and Meet Locals!"</h2>
    </div>
    <div class="content d-flex">
      <p class="mr-3">I'm Yukako, a tour guide and kimono dresser from Asakusa, Tokyo. 100 years ago, my grand-grandparents settled down here in Asakusa area, which is an old downtown of Tokyo. I renovaed their room to welcome foreign guests as friends. It is a space for Kimono walking tour in Asakusa. SHOP the best souvenier and events to meet locals in Asakusa.<br><br>The brabd name "Chaki Chaki" means "genuine" in old japanese. I will show you the very local and nostalgic aspect of Tokyo!</p>
      <%= image_tag "yukako.jpg", alt: "yukako", id: "yukako-photo" %>
    </div>
  </div>

  <div class="theme walk">
    <div class="title">
      <h1 class="main-title">Walk</h1>
      <h5 class="sub-title">PRIVATE KIMONO WALKING TOUR</h2>
    </div>
  </div>

  <%= render 'wear' %>

  <div class="theme meet">
    <div class="title">
      <h1 class="main-title">Meet Locals</h1>
      <h5 class="sub-title">VARIOUS EVENTS BY/WITH LOCALS</h2>
    </div>
  </div>

  <div class="theme access">
    <div class="title">
      <h1 class="main-title"></h1>
      <h5 class="sub-title"></h2>
    </div>
  </div>

  <div class="theme contact">
    <div class="title">
      <h1 class="main-title"></h1>
      <h5 class="sub-title"></h2>
    </div>
  </div>

</div>
