
.banner {
  background-size: cover;
  background-position: center;
  margin-bottom: 80px;
  position: relative;

  #logo-white {
    height: 240px;
    position: absolute;
    bottom: 0px;
    right: 8px;
  }


  img {
    height: 480px;
    object-fit: cover;
    object-position: top;
  }

}
