.banner {
  background-size: cover;
  background-position: center;
  margin-bottom: 80px;
  position: relative;

  #id {
    height: 40px;
    position: absolute;
    top: 30px;
    right: 30px;
  }
}

