.item-card {
  background-color: white;
  margin: 8px;
  padding: 8px;
  height: 300px;
  width: 300px;
  overflow: hidden;
  border-radius: 4px;
  box-shadow: 0 0 5px rgba(0,0,0,0.1);
  position: relative;

  img {
    height: 60%;
    width: 100%;
    object-fit: cover;
  }

  .item-info {
    padding: 8px
  }

  .icons {
    position: absolute;
    bottom: 8px;
    right: 8px;
  }

}
